<a href="https://colab.research.google.com/github/naziya-shaik/demo/blob/master/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#acronyms in python
user_input=str(input('Enter a Phrase:'))
text=user_input.split()
Acronyms=' '
for i in text:
  Acronyms=Acronyms+str(i[0]).upper()
print(Acronyms)

In [ ]:
mystring='acdefgh'
for i in mystring:
  print(i)
mystring[0]

In [ ]:
i=0
while i<3:
  print(mystring[i])
  i=i+1

a
c
d

In [ ]:
#wap num of vowels and num of consonants in a given string
str=input()
i=0
print('length:',len(str))
while i<len(str):
  print(str[i])
  i=i+1

In [ ]:
mystr=input()
vowel=0
cons=0
i=0
while i<len(mystr):
  if mystr[i]=='a' or mystr[i]=='e' or mystr[i]=='i' or mystr[i]=='o' or mystr[i]=='u':
     vowel=vowel+1
  else:
    cons=cons+1
  i=i+1
print(cons)
print(vowel)

abcdfeioh
5
4

In [ ]:
#split
mystr='naz,iya,from,om,an'
output=mystr.split(',')
print(len(mystr))
print(output)
print('length',len(output))

18
['naz', 'iya', 'from', 'om', 'an']
length 5

In [ ]:
#count num of 3 letter words in a paragraph
mystr="alexander Fleming (1881–1955) was a Scottish physician and microbiologist, best known for discovering the world's first broadly effective antibiotic substance, which he named penicillin. His discovery in 1928 of what was later named benzyle single greatest vpenicillin (or penicillin G) from the mould Penicillium rubens is described as thictory ever achieved over disease. For this discovery, he shared the Nobel Prize in Physiology or Medicine in 1945 with Howard Florey and Ernst Chain."
output=mystr.split( )
print('length',len(output))
count=0
for i in output:
  if len(i)==3:
    print(i)
    count=count+1
print(count)

length 73
was
and
for
the
His
was
(or
the
For
the
and
11

In [ ]:
#count num of 3 letter words in a paragraph
mystr="alexander Fleming (1881–1955) was a Scottish physician and microbiologist, best known for discovering the world's first broadly effective antibiotic substance, which he named penicillin. His discovery in 1928 of what was later named benzyle single greatest vpenicillin (or penicillin G) from the mould Penicillium rubens is described as thictory ever achieved over disease. For this discovery, he shared the Nobel Prize in Physiology or Medicine in 1945 with Howard Florey and Ernst Chain."
output=mystr.split( )
print('length',len(output))
vowel=0
for i in output:
  #print(i)
  for ch in i:
    if ch in 'aeiou':
      vowel=vowel+1
      #print(ch)
print('num of vowel:',vowel)

length 73
num of vowel: 141

In [ ]:
#replace
mystr='nazia adn adn zamir and'
output=mystr.replace('adn','and')
print(output)

nazia and and zamir and

In [ ]:
#replace was with saw in paragraph
mystr="alexander Fleming (1881–1955) was a Scottish physician and microbiologist, best known for discovering the world's first broadly effective antibiotic substance, which he named penicillin. His discovery in 1928 of what was later named benzyle single greatest vpenicillin (or penicillin G) from the mould Penicillium rubens is described as thictory ever achieved over disease.For this discovery, he shared the Nobel Prize in Physiology or Medicine in 1945 with Howard Florey and Ernst Chain."
output=mystr.replace('was','saw')
print(output)

In [ ]:
#lower and upper
mystr='naziya and ZAMIR'
print(mystr.upper())
print(mystr.lower())

NAZIYA AND ZAMIR
naziya and zamir

In [ ]:
#isdigit
#input='12454'
input='ab2344'
output=input.isdigit()
print(output)

False

In [ ]:
#find-->returns index wr it found the word
a='my name is naziya'
b=a.find('is')
#b=a.find('ame')
print(b)

8

In [ ]:
#count
#find num of duplicats in a sentence
a='my name is naziya name'
b=a.count('name')

2

In [ ]:
a='my name is naziya my age is my'
output=a.split( )
print(output)
for i in output:
  if a.count('my')>1:
    print('duplicate')
b=a.count('my')
print(b)

['my', 'name', 'is', 'naziya', 'my', 'age', 'is', 'my']
duplicate
duplicate
duplicate
duplicate
duplicate
duplicate
duplicate
duplicate
3

In [ ]:
#list
mylist=[1,2,3,4,5,6,7]
mylist[2]

3

In [ ]:
#slicing
#mylist[:]
#mylist[1:]
mylist[-1]

7

In [ ]:
a='hello world'
#a[5:-1]
#a[4:15]
#a[-2:5]
#a[-5:-6]
#a[15]
a[3]

In [ ]:
#append
mylist=[1,2,3,4,5]
mylist.append(6)
print(mylist)

In [ ]:
l=['naziya']
l.append('zohan')
l.append('zamir')
l.append('zayaan')
print(l)

['naziya', 'zohan', 'zamir', 'zayaan']

In [ ]:
mystr='name is nazia'
output=mystr.split( )
output.append('hello')
print(output)

In [ ]:
#remove
mylist=[1,2,3,4,5,6,]
mylist.remove(4)
print(mylist)

[1, 2, 3, 5, 6]

In [ ]:
#pop  --->depends on index value
n=[1,2,3,4,5,6]
print(n.pop(1))
print(n)
print(n.pop())   #-->last index value
print(n)

2
[1, 3, 4, 5, 6]
6
[1, 3, 4, 5]

In [ ]:
#reverse
mylist=[2,4,1,3,6,9]
mylist.reverse()
print(mylist)

[9, 6, 3, 1, 4, 2]

In [ ]:
#insert -->(index value,value)
mylist=[1,2,3,4,5,6,10]
mylist.insert(2,10)
print(mylist)

[1, 2, 10, 3, 4, 5, 6, 10]

In [ ]:
#extend
newlist=[10,25,38]
mylist.extend(newlist)
print(mylist)

[1, 2, 10, 3, 4, 5, 6, 10, 10, 25, 38]

In [ ]:
#wap take marks from user find sum of 3 sub.use list append mark into list
count=0
markslist=[]
while count <3:
  marks=int(input())
  markslist.append(marks)
  count=count+1
print(markslist)
sum=0
for i in markslist:
  sum=sum+i
print(sum)

In [ ]:
#sort
mylist=[1,23,3,4,50,6,37]
#mylist.sort()  #asending order
mylist.sort(reverse=True)    #desc
print(mylist)

[50, 37, 23, 6, 4, 3, 1]

In [ ]:
nameslist=[]
count=0
while count <3:
  name=input('enter a name:')
  nameslist.append(name)
  count=count+1
print(nameslist)

In [ ]:
#sets
myset={2,3,4,5}
for i in myset:
  print(i)
myset.add(2)  #no duplicats
print(myset)
myset.remove(4)
print(myset)

In [ ]:
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(8))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 40, 10, 50, 20, 60, 30}

In [ ]:
#set pop  ---->removes random element from set
s={40,0,20,30}
print(s)
print(s.pop())
print(s)

{40, 0, 20, 30}
40
{0, 20, 30}

In [ ]:
#tuple
mytuple=(1,2,3)
#mytuple=('sun','mon')
for i in mytuple:
  print(i)
#mytuple.remove(2) 
#print(mytuple)

In [ ]:
#tuple sorting
t=(10,2,3,1,35,2,12)
#a=sorted(t)             #--->asending
a=sorted(t,reverse=True)    #--->desending
print(a)

[35, 12, 10, 3, 2, 2, 1]

In [ ]:
#dictionary
mydict={}
studentDict={'name':'naziya','age':26,'gender':'female','marks':[10,80,70]}
studentDict['age']=25
print(studentDict)
#for key in studentDict:
  #print(key)
  #print(key,studentDict[key])

{'name': 'naziya', 'age': 25, 'gender': 'female', 'marks': [10, 80, 70]}

In [ ]:
studentlist=[{'name':'naziya','age':26,'gender':'female','marks':[10,80,70]},
 {'name':'zamir','age':30,'gender':'male','marks':[90,86,76]},
 {'name':'zohan','age':29,'gender':'male','marks':[80,87,60]}]
print(len(studentlist))

3

In [ ]:
#wap find student name and total marks of each student
for student in studentlist:
  print(student['name'],sum(student['marks']))
#studentlist[2]['name']

dict_values(['naziya', 25, 'female', [10, 80, 70]])

In [ ]:
studentDict.keys()
studentDict.values()

dict_values(['naziya', 25, 'female', [10, 80, 70]])

In [ ]:
#wap displays marks questions one after another,second questo to be displayed 
#when user enter the answer for first question
quizdict={
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}
quizdict['quiz']['maths']

In [ ]:
mathsdict=quizdict['quiz']['maths']
for q in mathsdict:
  print(mathsdict[q]['question'])
  print('options:')
  print(mathsdict[q]['options'])
  print('input answer:')
  answer=int(input())
  if answer==int(mathsdict[q]['answer']):
    print('correct answer')
  else:
    print('wong answer')

In [ ]:
# WAP that initializes a student's information.
# Takes key and values from the user.
# Finally print the student dictionary
# Restrict the no. of inputs to 5
studentDict={}
i=0
while i<3:
  print('enter the key:')
  key=input()
  print('enter the  value')
  value=input()
  studentDict[key]=value
  i=i+1
print(studentDict)
for student in studentDict:
  print(student,studentDict[student])

In [ ]:
def sum(arg1,arg2):
  sum=arg1+arg2
  print(sum)
sum(10,50)

60

In [ ]:
#WAF that isEven which takes a number as argument and prints True if it is even else False
def even(arg1):
  if arg1%2==0:
    print('true')
  else:
    print('false')
even(4)

true

In [ ]:
#waf take integer and print factorial of a integer
def factorial(number):
   fact=1
   while number>0:
     fact=fact*number
     number=number-1
   return(fact)
number=int(input())
print(factorial(number))

In [ ]:
print(factorial(6))
print(factorial(7))
print(factorial(10))

In [ ]:
newfactorial=factorial(4)
print(newfactorial)

In [ ]:
#wap take 5 input values and do sum of even numbers
def iseven(number):
  if number%2==0:
    return True
  else:
    return False

i=0
sum=0
while i<5:
  number=int(input('enter a number:'))
  if(iseven(number)):
    sum=sum+number
  i=i+1
print('sum of even num',sum)

enter a number:8
enter a number:4
enter a number:3
enter a number:9
enter a number:1
sum of even num 12

In [ ]:
#waf sum of fctorial of 3numbers:
def factorial(number):
   fact=1
   while number > 0:
     fact=fact*number
     number=number-1
   return(fact)
sum=0
i=0
while i < 3:
  value=int(input('enter a number:'))
  newfactorial=factorial(value)
  sum=sum+newfactorial
  i=i+1
print(sum)

In [ ]:
#range(start,end,steps)
#wap find area of square when 1 argumnt passed,if 2 arguments passed then for rectangle
def area(*values):   #arbitary argument
  valuecount=len(values)
  if valuecount==1:
    print('arae of square:',values[0]*values[0])
  elif valuecount==2:
    print('area of rect:',values[0]*values[1])
  else:
    print('invalid entry')
area(5)
area(2,4)

arae of square: 25
area of rect: 8

In [ ]:
#default arguments
def area(side=1):  # if default value
  return side*side
print(area())

1

In [ ]:
def calcost(pizza=0,burger=0,colddrink=0):
  cost=100
  return cost+pizza+burger+colddrink
print(calcost())
print(calcost(1,1))
print(calcost(1,1,1))

In [ ]:
def calcostofcar(powers=0,hybrid=0,design=0):
  basefare=1000
  return basefare+1000*powers+5000*hybrid+2000*design
print(calcostofcar(2))
print(calcostofcar(1,1))

3000
7000

In [ ]:
def printcars(car1,car2):
  print(car1,car2)
printcars('audi','benz')

audi benz

In [ ]:
#keyword arguments
def printcars(car2,car1):
  print(car1,car2)
printcars(car2='audi',car1='benz') #it prints only in order

benz audi

In [ ]:
def insertdb(name,age,marks):
  print(name,age,marks)
insertdb(name='naziya',marks=80,age=26) #entry mistake

naziya 26 80

In [ ]:
#arbitarykeyword argumnts
def exofarbarg(*arg):
  pass
def exofarbkeyarg(**args):
  pass
range()

In [ ]:
#waf string as input and returns reverse of the string
def reversestr(string):
  return(string[::-1])
reversestr('hello')

'olleh'

In [ ]:
#waf takes list of marks as input and return total marks as output
def totalmarks(marks):
  sum=0
  for i in marks:
    sum=sum+i
  return sum
print(totalmarks([60,30,50,70,80]))

In [ ]:
#waf take dict as input and checks if the student pass or not,>40 pass else fail
def status(stddict):
  if stddict['marks']> 40:
    return True
  else:
    return False
sampledict={'name':'naziya','age':30,'id':11,'marks':60}
print(status(sampledict))

True

In [ ]:
mystr='iiiipythionii'
print(mystr.strip('i'))

pythion