<a href="https://colab.research.google.com/github/naziya-shaik/demo/blob/master/zomato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving zomato.csv to zomato.csv

In [ ]:
import pandas as pd

In [ ]:
import io
hotels=pd.read_csv(io.BytesIO(uploaded['zomato.csv']))

In [ ]:
hotels.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [ ]:
hotels.shape

(56252, 13)

In [ ]:
#task1:
hotels.drop(['address'],axis=1,inplace=True)
hotels.drop(['phone'],axis=1,inplace=True)

In [ ]:
hotels.shape

(56252, 12)

In [ ]:
hotels.shape

(56236, 13)

In [ ]:
hotels.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [ ]:
#task2:
hotels.rename(columns = {'rate' :'rating','approx_cost(for two people)' : 'approx_cost','listed_in(type)' :'type'},inplace=True)

In [ ]:
hotels.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [ ]:
#null values
hotels.isna().sum()

name               16
online_order       19
book_table         58
rating           7838
votes              78
location          126
rest_type         338
dish_liked      28225
cuisines          203
approx_cost       521
type             4610
dtype: int64

In [ ]:
hotels.info()

task3:Dealing with Null Values in a Dataset
Handling null values refers to the process of identifying and addressing missing or incomplete data in each column of a dataset. This involves using techniques like imputation, where missing values are replaced with estimated values based on other data, or deletion, where incomplete records are removed entirely. Proper handling of null values is critical for accurate data analysis and can help prevent bias and errors in results.

Hint:

    delete null values of name column as name is the primary identifier of the dataset
    replace null values of online order with NA
    replace null values of book_table with NA
    replace null values of rating to zero as it is a numerical datatype
    replace null values of votes to zero as it is a numerical datatype
    replace null values of location to NA
    replace null values of rest_type to NA
    replace null values of dishliked to NA
    replace null values of cuisines to NA
    replace null values of approxcost to 0 as it is a numerical value
    replace null values of type to NA

In [ ]:
#task3:
hotels.dropna(subset=['name'],axis=0,inplace=True)
hotels['online_order'].fillna('NA',inplace=True)
hotels['book_table'].fillna('NA',inplace=True)
hotels['rating'].fillna(0,inplace=True)
hotels['votes'].fillna(0,inplace=True)
hotels['location'].fillna('NA',inplace=True)
hotels['rest_type'].fillna('NA',inplace=True)
hotels['dish_liked'].fillna('NA',inplace=True)
hotels['cuisines'].fillna('NA',inplace=True)
hotels['approx_cost'].fillna(0,inplace=True)
hotels['type'].fillna('NA',inplace=True)

In [ ]:
#null values
hotels.isna().sum()

name            0
online_order    0
book_table      0
rating          0
votes           0
location        0
rest_type       0
dish_liked      0
cuisines        0
approx_cost     0
type            0
dtype: int64

tas4:Identifying Duplicate Data in a Dataset
Finding duplicates in a dataset refers to the process of identifying records that are identical or nearly identical to one another. Duplicate data can skew analysis results and waste computational resources, so it is important to identify and remove duplicates before analyzing data. This can be achieved using algorithms that compare records and identify common attributes, or through manual inspection of the dataset.

Hint:

    drop all the duplicate values keeping the first value as it is

In [ ]:
#task4:
hotels.duplicated().sum()
hotels.drop_duplicates(inplace=True)

In [ ]:
print(hotels['name'].isnull())

In [ ]:
import numpy as np
remove_slash=lambda x:x.replace('/5','') if type(x)==np.str else x

# hotels.rating=hotels.rating.apply(remove_slash)

hotels.rating=hotels.rating.apply(remove_slash).str.strip()

hotels['rating'].head()

In [ ]:
hotels.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

task5:Text Cleaning
Text cleaning refers to the process of removing irrelevant or unnecessary text from all the columns in a dataset. This is an essential step in data preprocessing and analysis, as it ensures that the data is accurate and reliable. Text cleaning can involve tasks such as removing stopwords, punctuation, and special characters, as well as correcting spelling and grammar errors.

Hint:

    we have irrelevant reviews like string eg(RATED,Rated) in our name,online_order etc columns
    remove this irrelevant text from all the columns

In [ ]:
#task5:
hotels = hotels [hotels['name'].str.contains('RATED|Rated')==False]

hotels = hotels [hotels['online_order'].str.contains('RATED|Rated')==False]

hotels = hotels [hotels['book_table'].str.contains('RATED|Rated')==False]

hotels = hotels [hotels ['rating'].str. contains('RATED|Rated')== False]

hotels = hotels [hotels ['votes'].str. contains('RATED|Rated') == False]

hotels = hotels [hotels ['location'].str.contains ('RATED | Rated') == False]

hotels = hotels [hotels['rest_type'].str.contains('RATED | Rated')==False]

hotels=hotels [hotels['dish_liked'].str.contains ('RATED | Rated')==False]

hotels = hotels [hotels ['cuisines'].str.contains('RATED | Rated')==False]

hotels = hotels [hotels['approx_cost'].str.contains('RATED | Rated')==False]

hotels = hotels [hotels ['type'].str.contains('RATED | Rated')== False]

task6:Unique Value Check and Irrelevant Value Handling
The process of examining each column in a dataset to identify and handle any irrelevant data, while also verifying the uniqueness of values within each column. This helps ensure data accuracy and integrity in analysis and decision-making.

Hint:

    online order column should have only yes and no because it is necessary to have the online order as yes or no only for zomato to perform further analysis, remove other values
    check for rating column and remove NEW,- values to 0 and remove /5 as rating column should only contain decimal values

In [ ]:
#task6: check for unique values in each column and handle the irrelevant values
hotels['online_order'] = hotels['online_order'].apply(lambda x: 'No' if x not in ['Yes', 'No'] else x)
hotels = hotels[~hotels['rating'].str.contains('[a-zS]')]
hotels['rating'] = hotels['rating'].replace(['-', 'NEW'], '0')
hotels['rating'] = hotels['rating'].str.replace('/5', '')
def convert_to_int(x):
  if x == '0':
    return 0
  else:
    return x
hotels['rating'] = hotels['rating'].apply(convert_to_int)
return hotels

task7:Cleaning and Exporting Zomato Dataset
The process of cleaning the Zomato dataset by removing any unknown or unidentifiable characters and exporting the cleaned dataset to a new file named "zomatocleaned.csv". This involves identifying and removing any symbols, special characters, or non-standard characters that may interfere with proper data analysis. By exporting the cleaned dataset to a new file, the original dataset can be preserved and the cleaned data can be easily accessed for further analysis and decision-making.

Hint:

    remove the unknown character from the dataset, we have  charachter in our names column

In [ ]:
#task7:
dataframe['name']=dataframe['name'].str.replace('[x][^A-Za-z]+','',regex=True)